<html>

<head>
	<meta charset="utf-8">
	<link href="style/css/bootstrap.min.css" rel="stylesheet">
	<link href="style/css/style.css" rel="stylesheet">
	<div class="header">
		<div class="row"> 
			<div class="col-lg-12"></div>
		</div>
	</div>
</head>

<title> Salut toi  ca va ?</title>

<body ng-app="MyModule">
	<div class="header">
		<div class="row"> 
			<div class="col-lg-12"> Café à 1€</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12 Entete">Entete</div>
		</div>
		<div class="row">
			<div class="col-lg-2 Menu">Menu</div>
			<div class="col-lg-10 Donnees">Donnees

				<div class="row">
					<div class="col-lg-4 Donnees">
						<label>Coche moi: <input type="checkbox" ng-model="checked" ng-init="checked=true" /></label><br/>

								<div ng-if="checked" >
									<div ng-controller="controleDonnees" >
								
											<div ng-repeat="donnee in donnees">
											
												<p>
												
												{{donnee.username}}
												
												</p>
																									
											</div>
									</div>	
									
								</div>
					</div>
					<div class="col-lg-7 col-lg-offset-1 Donnees">7 colonnes</div>
				</div>
			</div>
		</div>
	</div>

	<label>Coche moi: <input type="checkbox" ng-model="checked" ng-init="checked=true" /></label><br/>

	<div ng-if="checked" >
		<div ng-controller="controleDonnees" >
			
			<div ng-repeat="donnee in donnees">

				<p>

					{{donnee.username}}

				</p>

			</div>
		</div>	

	</div>
	
	
	
	<script src="style/js/angular.min.js"></script>
	<script src="style/js/JSapp.js"></script>	
</body>

</html>